// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mono {
  font-family: "Courier New", Courier, monospace;
  font-size: 12pt;
}

#message, #chat {
  width: 800px;
}