!!!
%html
  %head
    %title Converse
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "//sdk.amazonaws.com/js/aws-sdk-2.0.0-rc1.min.js", "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    = yield
    // = javascript_include_tag "templates/admin_panel"